* {
  margin-top: 20px;
}
.body {
  margin-left: 5em;
}
#titulo {
  color: teal;
}
.enlace,
.red {
  color: red;
}
.table,
th,
td {
  border: 2px black solid;
  border-collapse: collapse;
  padding: 0.5em;
}
.destacado,
.especial {
  color: orange;
}
#subtitulo,
.titulo,
.em {
  color: blue;
}
.titulo {
  padding-bottom: 0.5em;
}
.purus {
  color: purple;
}
.green {
  color: green;
}
#adicional {
  color: olive;
}
#pink {
  color: fuchsia;
}
